@font-face {
  font-family: "Vazir";
  src: url("../src/assets/fonts/Vazir-Bold.woff") format("truetype");
}
*{
  font-family: "Vazir" !important;

}
body {
  font-family: "Vazir" !important;
  background-color: rgb(226, 242, 243);
  font-family: 'CustomFont', Arial, sans-serif;
}


.marginBottom{
  margin-bottom: 2rem;
}