@font-face {
  font-family: "Vazir";
  src: url("../src/assets/fonts/Vazir-Bold.woff") format("truetype");
}
*{
  font-family: "Vazir" !important;

}
body {
  font-family: "Vazir" !important;
 
  font-family: 'CustomFont', Arial, sans-serif;
  margin:0;
  padding: 0;
 
}
.StepperFormBackground{
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background: #9053c7;
  background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
  background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
  background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
  background: linear-gradient(-135deg,#c850c0,#4158d0);
}

.marginBottom{
  margin-bottom: 2rem;
}
.flip-card {
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg,#c850c0,#4158d0);
  background: -o-linear-gradient(-135deg,#c850c0,#4158d0);
  background: -moz-linear-gradient(-135deg,#c850c0,#4158d0);
  background: linear-gradient(-135deg,#c850c0,#4158d0);
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  margin :"4rem auto"
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
 display: flex;
 justify-content: center;
 align-items: center;
}
.error-text{
  color:red;
  font-size: 16px;
  float: left;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  text-align: left;
  margin-top: 3px;
  margin-right: 14px;
  margin-bottom: 0;
  margin-left: 14px;
}